html,
body {
    height: 100%;
}

nav {
    height: 10%;
}

#cover {
    background: url(files/water.webp) center;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

h1 {
    font-family: 'Archivo Black';
    color: lightgreen;
}